
@{
    ViewBag.Title = "Index";
}

<h2>Home</h2>
<hr />

@if (User.Identity.IsAuthenticated)
{
    <label class="form-label label-info">
        @User.Identity.Name
    </label>
    <a href="/Account/Logout" class="btn btn-danger">Logout</a>
    <hr />
    <div>
        @if (User.IsInRole("Freelancer"))
        {
            <a href="@Url.Action("JobAcceptance", "Freelancer")" class="btn btn-primary">Job Acceptance</a>
        }
        else if (User.IsInRole("Customer"))
        {
            <a href="@Url.Action("JobAssignment", "Customer")" class="btn btn-success">Job Assignment</a>
        }
    </div>
}
else
{
    <a href="/Account/Login" class="btn btn-success">Login</a>
    <a href="/Account/Register" class="btn btn-primary">Register</a>
}